* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #faf6e9;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ddeb9d;
  padding-bottom: 20px;
  padding-top: 10px;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}
header nav ul li a {
  font-size: x-large;
  text-decoration: none;
  color: #0f172a;
}
nav ul a:hover {
  font-size: xx-large;
  color: #faf6e9;
  transition: 0.3s ease-in-out;
}
nav ul a:active {
  font-size: xx-large;
  color: rgb(142, 142, 142);
}
.first-section {
  height: 70vh;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #faf6e9;
}
.first-section div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding-left: 15px;
  width: 50%;
}
.first-section h1 span {
  color: #a0c878;
}
.first-section p {
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.first-section img {
  width: 500px;
}
.first-section button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #1e293b;
}
.first-section button:hover {
  width: 140px;
  height: 40px;
  transition: 0.3s ease-in-out;
  background-color: rgb(142, 142, 142);
}
.first-section button a {
  text-decoration: none;
}

.first-section img {
  width: 20%;
  height: auto;
  border-radius: 100%;
}
.second-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ddeb9d;
  height: 70vh;
  gap: 20px;
  padding: 20px;
}

.internal-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 10px;
  height: 50vh;
}
.internal-div h1 {
  text-align: center;
}

.outside-div {
  width: 600px;
  height: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
}
.inside-div1 {
  width: 90%;
  height: 10px;
  background-color: rgb(255, 145, 0);
  border-radius: 5px;
}

.inside-div2 {
  width: 75%;
  height: 10px;
  background-color: rgb(255, 145, 0);
  border-radius: 5px;
}
.inside-div3 {
  width: 60%;
  height: 10px;
  background-color: rgb(255, 145, 0);
  border-radius: 5px;
}
.inside-div4 {
  width: 85%;
  height: 10px;
  background-color: rgb(255, 145, 0);
  border-radius: 5px;
}
.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.second-section p {
  font-weight: 300;
  font-family: "Inter", sans-serif;
  width: 50%;
  text-align: left;
  color: rgb(17, 25, 3);
}
.third-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 20px;
}

.first-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  gap: 5px;
  box-shadow: 5px 5px 15px rgba(32, 31, 31, 0.521);
}

.first-project a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.first-project img {
  width: 90%;
  height: 45vh;
}
.first-project p {
  text-align: center;
}
.second-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  gap: 5px;
  box-shadow: 5px 5px 15px rgba(32, 31, 31, 0.521);
}

.second-project a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.second-project img {
  width: 90%;
  height: 45vh;
}
.second-project p {
  text-align: center;
}
.third-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  gap: 5px;
  box-shadow: 5px 5px 15px rgba(32, 31, 31, 0.521);
}

.third-project a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.third-project img {
  width: 90%;
  height: 45vh;
}
.third-project p {
  text-align: center;
}
.first-project a :hover {
  width: 110%;
  height: 50vh;
  transition: 0.3s ease-in-out;
}
.second-project a :hover {
  width: 110%;
  height: 50vh;
  transition: 0.3s ease-in-out;
}
.third-project a :hover {
  width: 110%;
  height: 50vh;
  transition: 0.3s ease-in-out;
}
.forth-section {
  height: 80vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  background-color: #faf6e9;
}
.forth-section h1 {
  text-align: center;
}
.form-div {
  width: 50%;
  background-color: #ddeb9d;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}
form {
  background-color: #ffff;
  width: 80%;
  padding: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  gap: 15px;
  border-radius: 20px;
}
form textarea {
  width: 300px;
  height: 40%;
  border: black 1px solid;
  border-radius: 5px;
}
form input {
  width: 40%;
  height: 7%;
  border: black 1px solid;
  border-radius: 5px;
}
form button {
  width: 20%;
  height: 5%;
  border: none;
  font-size: medium;
  background-color: #1e293b;
  color: white;
  border-radius: 15px;
}
#form-btn:hover {
  width: 30%;
  height: 6%;
  background-color: #9b9fa0;
  transition: 0.3s ease-in-out;
  font-size: larger;
  box-shadow: 0 4px 10px rgba(248, 8, 8, 0.25);
}
.img {
  width: 50%;
}
.img img {
  width: 100%;
  height: 100%;
}
footer {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111827;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
ul li a {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1040px) {
  .first-section {
    height: 90vh;
  }
  .second-section {
    height: auto;
  }
  .second-section p {
    width: auto;
    overflow: scroll;
  }
  .internal-div {
    width: 40%;
  }
  .outside-div {
    width: auto;
  }
  .inside-div1 {
    width: auto;
  }
}
@media (max-width: 768px) {
  nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
    height: auto;
  }
  nav ul {
    flex-direction: column;
  }
  .first-section {
    flex-direction: column-reverse;
    height: auto;
    padding-bottom: 5px;
  }
  .second-section {
    flex-direction: column;
    height: auto;
  }
  .internal-div {
    width: 70%;
  }
  .outside-div {
    width: auto;
  }
  .third-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .first-project {
    width: auto;
  }
  .second-project {
    width: auto;
  }
  .third-project {
    width: auto;
  }
  .first-project img {
    width: 60%;
    height: auto;
  }
  .second-project img {
    width: 60%;
    height: auto;
  }
  .third-project img {
    width: 60%;
    height: auto;
  }
  .forth-section {
    flex-direction: column-reverse;
    width: auto;
    height: auto;
  }

  .form-div {
    width: auto;
    height: 90vh;
  }
  form {
    width: 40%;
    height: 70%;
  }
  form textarea {
    width: 80%;
  }
  form button {
    width: 50%;
  }
  .img {
    width: auto;
    height: auto;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    flex-direction: column;
  }
}
